{% extends "base_generic.html" %}
{% block content %}
    <h3>Paul Davis</h3>
    <p>
My career began in pharmaceutical and analytical chemistry, where I gained a solid appreciation of data in this context. Later on I focused more upon data analysis and I began using SQL along with Python and its numerical and data visualization libraries. My main interest now lies in Python web development and creating REST APIs for serving data analytics applications. The huge satisfaction from working on projects and learning new things has been fundamental to my rapid and continual improvement in abilities.
<br>
My main hobbies and interests include outdoor activities such as rock climbing and surfing, as well as travel, music, food etc. A British citizen in the UK, as at January 2018 I am excited by the possibility of new opportunities which push my skills.
    </p>
<img src="https://thumb.ibb.co/fuxCWm/170477_10151030506467356_1863501551_o.jpg" />
{% endblock %}
