<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Paul Davis</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" type="text/css"href="{% static 'css/styles.css' %}">
</head>
<body>
<style>
body {background-color: #FFFAFA;}
h3   {color: #708090;}
</style>
  <div class="container-fluid">
        <img src="{% static 'images/header2.png' %}" style='width: 100%; object-fit: contain' />
    <div class="row">
      <div class="col-sm-1">
      {% block sidebar %}
      <br>
      <ul class="sidebar-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'post_list' %}">Blog</a></li>
      </ul>
      <br>
     <img src="{% static 'images/profile.png' %}" style='margin-left: 2em; width: 78%; height: 78%' />
     {% endblock %}
      </div>
      <div class="col-sm-11 ">
      {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>